$main: #DF5D6C;
$mainobscuro: #bf3d4c;
$mainclaro: #eaaeae;
$azul: #1F577F;
$cielo: #41B5D5;
$lavanda: #838BC5;
$verde: #3D5B54;
$aqua: #006771;
$limon: #E3E465;
$limonobscuro: #d3d455;
$mango: #FEBE10;
$raro: #8FB3D6;
$black: #222222;
$dg: #505050;
$ow: #fafafa;